@page
@model IndexModel
@{
    ViewData["Title"] = "RentaMaq";
}

<div class="text-center intro">
    <img src="./../img/logo_intro.svg" alt="Logo RentaMaq" />
    <a asp-area="" asp-page="/Login"><img src="./../img/main_button.png" alt="Botón Ingresar a RentaMaq" /></a>
</div>