@page
@model MaquinasModel
@{
    ViewData["Title"] = "Máquinas";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Máquinas </title>
    <style>
        .container-repos {
            background: #C4C4C4;
            border: 1px solid gray;
            opacity: 0.3;
            color: #000;
            width: 100%;
            height: auto;
            margin-top: 10vh;
        }
    </style>
</head>
<body>
    <div class="container-repos">
        info aqui
    </div>
</body>
</html>