@page
@model PrincipalModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Principal Page </title>
    <style>
        .container-principal{
            background: blue;
        }
    </style>
</head>
<body>
    <form>
        <div class="container-principal">
            hola soy principal
        </div>
    </form>
</body>
</html>